<!DOCTYPE html>
<element name='x-date-div' constructor="DateDiv" extends='div'>
  <template>
      <input type="number" name="dateInput" class="span2" min="1" bind-value="startMonth">
      <input type="number" name="dateInput" class="span4" min="1" bind-value="startYear">
      <input type="number" name="dateInput" class="span2" min="1" bind-value="endMonth">
      <input type="number" name="dateInput" class="span4" min="1" bind-value="endYear">
  </template>
  <script type="application/dart" src="date_div.dart"></script>
</element>