<!DOCTYPE html>
<element name='x-metricoverview-div' constructor="MetricOverviewDiv" extends='div'>
  <template>
    <p>some text</p>
    <div style="border:solid 1px #CCCCCC" class="span3 offset1">
      <h4>Average</h4>
      <ul class="inline">
        <li>
          <h2>123</h2>
        </li>
        <li>
          <p>mbps</p>
        </li>
      </ul>
      <p style="color:#CCC">World average: 12 mb/s</p>
    </div>
    <div style="border:solid 1px #CCCCCC" class="span3">
      <h4>Sample</h4>
      <ul class="inline">
        <li>
          <h2>23000</h2>
        </li>
      </ul>
      <p style="color:#CCC">Country Average 46000 (50%)</p>
    </div>
    <div style="border:solid 1px #CCCCCC" class="span3">
      <h4>Rank</h4>
      <ul class="inline">
        <li>
          <h2>#16</h2>
        </li>
      </ul>
      <p style="color:#CCC">Total countries: 228</p>
    </div>
  </template>
  <script type="application/dart" src="metric_overview_div.dart"></script>
</element>