<!DOCTYPE html>
  <element name='x-metric-div' constructor="MetricDiv" extends='div'>
      <template>
          <h5>{{name}}</h5>
          <p>{{name}} is {{description}}.
          The {{name}} in {{view.locale.toString()}} was {{average}}.
          During the selected period, the change in this metric was {{change}}.
          Compared to last quarter the growth was {{perQuarterChange}}, and
          year on year is {{perYearChange}}.
          {{view.locale.country}} ranks {{rank}} in the world. </p>
          <p>
            <button class="btn btn-primary" type="button">Learn More</button>
          </p>
      </template>
      <script type="application/dart" src="metric_div.dart">
      </script>
</element>